<html><head/><body>
<script type="text/javascript">
who = {
    "name": "Emi",
    "age": 46, 
    "college": true,
    "offices" : [ "3350DMC", "3437NQ" ],
    "skills" : { "fortran": 0, "C": 0, 
        "C++": 0, "python" : 7 }
};
console.log(who);
</script>
<p>Check out the console.log to see the cool object</p>
<pre>
who = {
    "name": "Emi",
    "age": 29, 
    "college": true,
    "offices" : [ "3350DMC", "3437NQ" ],
    "skills" : { "fortran": 0, "C": 0, 
        "C++": 0, "python" : 7 }
};
</pre>
</body>

